<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ICU beds capacity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our CSS -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

 

  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <!-- Leaflet-Choropleth JavaScript -->
  <script type="text/javascript" src="static/js/choropleth.js"></script>



</head>

<body>

 

    <div class="container">
        
      <!-- The div where we will inject our map -->    
      <div class="row">
        <div class="col-md-12" style="text-align: center">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <nav class="navbar navbar-fixed-top navbar-inverse">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">Vizualization Project</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Vizualization</a></li>
                                <li class="active"><a href="/about">About</a></li>
                                <li><a href="/data/cases">Cases</a></li>
                                <li><a href="/data/state" class="nav-text">States</a></li>
                            </ul>
                        </div>
                    </nav>
                  <h2 class="text-left"  style="text-align:center" class="display-4">Visualizing Covid19</h2>
                   <p class="text-left" class="display-2" class="font-weight-light" class="lead">The ability of States to respond effectively to Covid19 is dependent, in part, on the number of ICU beds per population.</p>
                </div>
              </div>
            <h3 class="text-left" class="display-2">Population and ICU Beds in USA</h3>
            <div id="map"></div>
            <div class onclick="myFunction()"></div>
            <div class="info"></div>
            <div id="range-slider-1"></div>
            <div class="leaflet-top leaflet-right"></div>
            <div class="info leaflet-control"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-left">Line Graph</h3>
            <div id="lineGraph"></div>
         </div>
        <div class="col-md-6">
            <h3 class="text-left">Pie Chart</h3>
            <div id="Piechart"></div>
        </div>
    </div>
</div><!--end of container Div-->

      <!-- API key -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- JS -->
  <script type="text/javascript" src="../static/js/logic.js"></script>
  
    <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

    <!-- Footer Section -->
    <footer>
        <div class="footer">Copyright 2020, Ash Patel, Stacey Ruelle, Onome Hunt, Mercy Auma, Sonal Khare, and Bernt Stenberg</div>
    </footer>

</body>

</html>